In [ ]:
import math
import random
import string

# Que 1

Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000 PTS:100

In [ ]:
def Fibonacci(n):
    f0, f1 = 1, 1
    for _ in range(n):
        yield f0
        f0, f1 = f1, f0+f1

fibs = list(Fibonacci(10000))
check= lambda x: True if x in fibs else False
print(check(int(input("Please enter to number to check it is fibonacci or not: "))))

Please enter to number to check it is fibonacci or not: 10
False

# Que 2
Using list comprehension (and zip/lambda/etc if required) write five different expressions that: PTS:100

* Add 2 iterables a and b such that a is even and b is odd

In [ ]:
a=[ x for x in range(100) if x%2==0 ]
b=[ x for x in range(100) if x%2!=0 ]
sum_ab= map(lambda x,y: x+y, a, b)
print(list(sum_ab))

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97, 101, 105, 109, 113, 117, 121, 125, 129, 133, 137, 141, 145, 149, 153, 157, 161, 165, 169, 173, 177, 181, 185, 189, 193, 197]

* Strips every vowel from a string provided (tsai>>t s)

In [ ]:
vowels= list("aeiouAEIOU")
sentence= input("Please enter the string: ")
ans= [character for character in sentence if character not in vowels]
print(" ".join(ans))

Please enter the string: tsai
t s

* Acts like a ReLU function for a 1D array

In [ ]:
lst = [int(item) for item in input("Enter the list items : ").split()] 
  
ans=map(lambda x: x if x>0 else 0, lst)
print("Relu of 1D array ",list(ans))

Enter the list items : 10 -5 100 200 -500
Relu of 1D array  [10, 0, 100, 200, 0]

* Acts like a sigmoid function for a 1D array

In [ ]:
lst = [int(item) for item in input("Enter the list items : ").split()] 
  
ans=map(lambda x: 1 / (1 + math.exp(-x)) , lst)
print("Sigmoid of 1D array ",list(ans))

Enter the list items : 10 5 0
Sigmoid of 1D array  [0.9999546021312976, 0.9933071490757153, 0.5]

* Takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn

In [ ]:
inpt= input("Enter the string :")
def transform(x):
  temp=ord(x)
  if temp >= 65 and temp<=90:
    if temp+5>90:
      return chr((temp+5)%90+65)
    else:
      return chr(temp+5)
  elif temp >= 97 and temp<=122:
    if temp+5 >122:
      return chr((temp+5)%122 +97)
    else:
      return chr(temp+5)  

ans= map(transform, inpt)
print("Final ans after shifting:",''.join(list(ans)))

Enter the string :TSAI
Final ans after shifting: YXFN

# Que 3
A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt PTS:200

In [ ]:
text="In this tutorial, fcuk we will use the same machine learning pipeline and Flask app that we built and deployed previously. This time we will demonstrate how to deploy a machine learning pipeline as a web app using the Microsoft Azure Web App Service. In order to deploy a machine learning pipeline on Microsoft Azure, we will have to containerize our pipeline in a software called Docker. If you don’t know what does containerize means, no problem — this tutorial is all about that."

f = open("/content/list.txt", "r")
word_lst=f.read().split()

check = any(item in word_lst for item in text.split(" "))
print("Is there any swear words? Ans: ",check)

Is there any swear words? Ans:  True

# Que 4
Using reduce function

* Add only even numbers in a list

In [ ]:
import functools
list_1= [int(item) for item in input("Enter the list items : ").split()]
print ("The sum of even numbers in the list: ",functools.reduce(lambda a,b : a+b ,list(filter(lambda x: x % 2 == 0, list_1)) ))

Enter the list items : 10 20 3 2 5
The sum of even numbers in the list:  32

* Find the biggest character in a string (printable ascii characters)

In [ ]:
sample="The END is Amazing"
print("The maximum char in the string is :",functools.reduce(lambda a,b : a if ord(a) > ord(b) else b,sample))

The maximum char in the string is : z

* Adds every 3rd number in a list

In [ ]:
lst=[7,3,4,5,4,8]
print("Sum of 3rd number in the list is: ", functools.reduce(lambda a,b : a+b , [lst[i] for i in range(0, len(lst), 3)]))

Sum of 3rd number in the list is:  12

# Que 5 and 6

* Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999 PTS:100

In [ ]:

ans=['KA'+str(random.choice([random.randint(10,99) for x in range(15)]))+random.choice(string.ascii_uppercase)+random.choice(string.ascii_uppercase)+ str(random.choice([random.randint(1000,9999) for x in range(15)])) for _ in range(15)]
print(ans)

['KA92AX9705', 'KA77FO6914', 'KA41JQ3853', 'KA98VB7903', 'KA54ZZ5839', 'KA64AW9027', 'KA94YA6552', 'KA20CI3758', 'KA55UQ3014', 'KA51XU5798', 'KA39CF6670', 'KA55BO5661', 'KA19OA5901', 'KA71JF4632', 'KA87GK9752']

* Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided.  PTS:100

In [ ]:
number_plate=lambda x,y: random.choice(['KA','DL'])+str(random.choice([random.randint(10,99) for x in range(15)]))+random.choice(string.ascii_uppercase)+random.choice(string.ascii_uppercase)+ str(random.choice([random.randint(x,y) for x in range(15)])) #for _ in range(15)
x=int(input("Enter the min range:"))
y=int(input("Enter the max range:"))
print([number_plate(x,y) for x in range(15)])

Enter the min range:100
Enter the max range:200
['KA24PW101', 'DL10WN88', 'KA96WC42', 'KA17XS17', 'DL48OF120', 'DL19LI89', 'DL39EH69', 'KA22CE48', 'KA75UQ146', 'KA26FW23', 'KA59DV12', 'DL69ZV58', 'KA30NC169', 'KA67FS199', 'DL96FU87']